.bg-AbsoluteZero
{
    background-color: #0048BA;
}

.bg-AcidGreen{
    background-color: #B0BF1A;
}
  
.bg-Aero{
    background-color: #7CB9E8;
}
.bg-AeroBlue{
   background-color: #C9FFE5;
}

.bg-blue1{
   background-color: #25B7D3;
}   